<div>
  <h1><a href="/">SharQ</a></h1>
  <h3>Answers. Fast!</h3>
</div>

<div>
  <% current_user %>
  <h2>Welcome <%= @current_user.username %>!</h2>
</div>

<div>
  <% if logged_in? %>
  <form action=/logout method=get>
  	<input id="logout_button" type="submit" value="Log Out">
  </form>
  <form action="/user/<%= @current_user.id %>/question/new" method="get">
  	<input id="create_question_button" type="submit" value="Post a question!">
  </form>
  <% end %>
</div>

<div>
  <form action=/ method=get>
  	<input id="to_index_button" type="submit" value="back to Main Page">
  </form>
</div>

<div class = 'table' >
	<table align="center">
    <tr>
      <th><h2>Your Most Recent Questions</h2></th>
    </tr>
	  <col width="600">

    <% question_list = Question.where(user_id: @current_user.id).order(updated_at: :desc) %>
​
   <% if question_list %>
       <% question_list.each do |x| %>
	      <tr>
	         <td>
             <hr>
             <h2><a href="/questions/<%= x.id %>"><%= x.question_title %></a></h2>
             <p>Answers: <%= Answer.where(question_id: x.id).length %></p>
             <h3><%= User.find(x.user_id).username %></h3>
             <p><%= x.question_desc %></p>
             <p></p>
           </td>
				</tr>
	     <%end%>
	    <%end%>
	</table>
</div>

<div class = 'table' >
	<table align="center">
    <tr>
      <th><h2>Your Most Recent Answers</h2></th>
    </tr>
	  <col width="600">

    <% answer_list = Answer.where(user_id: @current_user.id).order(updated_at: :desc) %>
​
   <% if answer_list %>
       <% answer_list.each do |x| %>
	      <tr>
	         <td>
             <hr>
             <h2><a href="/questions/<%= x.question_id %>"><%= Question.find(x.question_id).question_title %></a></h2>
             <p>Answers: <%= Answer.where(id: x.id).length %></p>
             <h3><%= User.find(x.user_id).username %></h3>
             <p><%= x.answer_content %></p>
             <p></p>
           </td>
				</tr>
	     <%end%>
	    <%end%>
	</table>
</div>
