<div>
  <h1>SharQ</h1>
  <h3>Answers. Fast!</h3>
</div>

<% if logged_in? %>
  <div>
    <h2><%= @current_user.username %></h2>
    <form action="/user/profile/<%= @current_user.id %>" method=get>
    	<input id="logout_button" type="submit" value="Profile">
    </form>
    <form action=/logout method=get>
    	<input id="logout_button" type="submit" value="Log Out">
    </form>
    <form action="/user/<%= @current_user.id %>/question/new" method=get>
    	<input id="create_question_button" type="submit" value="Post a question!">
    </form>
  </div>

<% else %>

  <div>
    <form action=/user/new method=get>
    	<input id="logout_button" type="submit" value="Sign In/Sign Up">
    </form>
  </div>

<% end %>

<div class = 'table' >
	<table align="center">
    <tr>
      <th><h2>Most Recent Questions</h2></th>
    </tr>
	  <col width="600">

    <% question_list = Question.all.order(updated_at: :desc).limit(5) %>
​
   <% if question_list %>
       <% question_list.each do |x| %>
	      <tr>
	         <td>
             <hr>
             <h2><a href="/questions/<%= x.id %>"><%= x.question_title %></a></h2>
             <h3><%= User.find(x.user_id).username %></h3>
             <p><%= x.question_desc %></p>
             <p></p>
           </td>
				</tr>
	     <%end%>
	    <%end%>
	</table>
</div>
