<div>
  <h1>SharQ</h1>
  <h3>Answers. Fast!</h3>
</div>

<div>
  <p>
    This is the main page. Top questions will be displayed here.
  </p>
</div>

<% if logged_in? %>
  <div>
    <form action=/logout method=get>
    	<input id="logout_button" type="submit" value="Log Out">
    </form>
    <form action="/user/<%= @current_user.id %>/question/new" method=get>
    	<input id="create_question_button" type="submit" value="Post a question!">
    </form>
  </div>

<% else %>

  <div>
    <form action=/user/new method=get>
    	<input id="logout_button" type="submit" value="Sign In/Sign Up">
    </form>
  </div>

<% end %>



<div class = 'table' >
	<table align="center">
	  <col width="300">
	  <col width="300">
    <col width="200">

	<tr>
		<th>Question</th>
    <th>Description</th>
		<th>Posted by</th>
  </tr>

    <% question_list = Question.all %>
​
   <% if question_list %>
       <% question_list.each do |x| %>
	            <tr>
	               <td><a href="/questions/<%= x.id %>"><%= x.question_title %></a></td>
                 <td><%= x.question_desc %></td>
	               <td align="center"><%= User.find(x.user_id).username %></td>
				</tr>
	     	<%end%>
	    <%end%>
	</table>
</div>
